<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relay Login</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
  <body>
      <div class="userlogin">
          <input type="text" id="user" placeholder="enter your username here" />
          <button id="loginButton">Start Here</button>
          <a href="https://github.com/Top-Secret-Avengers/FlagRelay">Flag Relay Github</a>
          <a href="https://github.com/Top-Secret-Avengers/Written-Guides">Documentation and Help</a>
      </div>
  </body>
  <script src="{{ url_for('static', filename='login.js') }}"></script>
</html>
